#after_title-sortables,
#after_editor-sortables {
	min-height: 10px;
}
#csanr_grant_information p {
	display: table-row;
}
#csanr_grant_information p label {
	padding-right: 12px;
	text-align: right;
}
#csanr_grant_information p label,
#csanr_grant_information p input {
	display: table-cell;
}
#postdivrich {
	margin-bottom: 40px;
}
.cahnrswp-repeatable-meta {
	background-color: #fdfdfd;
	border: 1px solid #dfdfdf;
	margin-bottom: 12px;
	padding: 0 .9em;
}
.grant-entry-select-fields p {
	float: left;
	width: 25%;
}
.grant-entry-text-fields {
	clear: both;
}
.grant-entry-text-fields .amount,
.grant-entry-text-fields .cahnrswp-remove-repeatable-meta {
	display: inline-block;
	margin: 0 0 1em 0;
	width: 50%;
}
.grant-entry-text-fields .cahnrswp-remove-repeatable-meta {
	margin: 0 0 10px;
	text-align: right;
	vertical-align: bottom;
}
.cahnrswp-add-repeatable-meta {
	font-weight: bold;
}
#poststuff h3.grant-editor-label {
	padding: 0;
}
#csanr_grant_annual_entry,
#wp-_csanr_grant_publications-wrap,
#wp-_csanr_grant_additional_funds-wrap,
#wp-_csanr_grant_impacts-wrap,
#wp-_csanr_grant_admin_comments-wrap {
	margin-bottom: 40px;
}

#investigatordiv {
	display: none;
}